includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
        - database
        - tests/PHPStan
    tmpDir: build/phpstan
    parallel:
        maximumNumberOfProcesses: 1

services:
    -
        class: AuroraWebSoftware\TwoFactorAuth\Tests\PHPStan\UserPropertiesClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
